
.out-side-orderdetail {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.out-side-orderdetail .gold-auto {
  display: inline-block;
  width: .95rem;
  height: .6rem;
  overflow: hidden;
  float: right;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu3.png') no-repeat 0 -5.6rem / 1rem 7rem;
  margin-top: .35rem;
}

.out-side-orderdetail .gold-auto.this-over {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu3.png') no-repeat 0 -6.3rem / 1rem 7rem;
}

.out-side-orderdetail .confirm-header-null {
  height: .88rem;
}

.out-side-orderdetail .order-address {
  overflow: hidden;
  background-color: #fff;
}

.out-side-orderdetail .order-address .line {
  display: block;
  height: .2rem;
  background: url('https://api.duishangbao.cn/upload/image/line-order-header.png') repeat-x center / .84rem .04rem;
  border-bottom: .5px solid #e5e5e5;
}

.out-side-orderdetail .order-addr-mess {
  width: 7.1rem;
  margin: 0 auto;
  position: relative;
}

.out-side-orderdetail .order-addr-mess .name {
  display: inline-block;
  font-size: .28rem;
  color: #1a1a1a;
  line-height: .32rem;
  float: left;
  margin-top: .2rem;
}

.out-side-orderdetail .order-addr-mess .tel {
  display: inline-block;
  font-size: .28rem;
  color: #1a1a1a;
  line-height: .32rem;
  float: right;
  margin: .2rem 0 0 0;
}

.out-side-orderdetail .order-addr-mess .addr-main {
  display: block;
  clear: both;
  line-height: .32rem;
  padding: .15rem 0 .4em 0;
}

.out-side-orderdetail .order-addr-mess .icon-star {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  position: absolute;
  right: 0;
  top: .4rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu.png') no-repeat .3rem -1.93rem/0.7rem 10rem;
  z-index: 1;
}

.out-side-orderdetail .order-addr-mess .add-new-btn {
  display: block;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu4.png') no-repeat 0 -1.15rem/0.5rem 10rem;
  padding: .38rem 0 .3rem .58rem;
}

.out-side-orderdetail .order-goods-list {
  background-color: #fff;
  padding: .2rem;
  overflow: hidden;
  margin-top: .2rem;
}

.out-side-orderdetail .order-goods-list .pub-name {
  height: .7rem;
}

.out-side-orderdetail .order-goods-list .order-goods-bar {
  height: 2.15rem;
  position: relative;
}

.out-side-orderdetail .order-goods-img {
  width: 1.68rem;
  height: 1.68rem;
  position: absolute;
  left: 0;
  top: 0;
}

.out-side-orderdetail .order-goods-img img {
  width: 1.68rem;
  height: 1.68rem;
}

.out-side-orderdetail .order-goods-bar .order-goods-name {
  line-height: .36rem;
  padding: 0 .8rem .05rem 1.88rem;
}

.out-side-orderdetail .order-goods-bar .order-goods-sku {
  line-height: .32rem;
  padding: 0 .8rem 0 1.88rem;
}

.out-side-orderdetail .order-goods-bar .order-goods-price {
  width: 5rem;
  position: absolute;
  top: 1.3rem;
  left: 1.88rem;
}

.out-side-orderdetail .order-goods-bar .order-goods-price .price-num {
  display: inline-block;
  line-height: .4rem;
  float: left;
  margin: .01rem 0 0 0;
}

.out-side-orderdetail .order-goods-bar .order-goods-price .return-num {
  display: inline-block;
  color: #fc6c15;
  border: .5px solid #fc6c15;
  padding: .02rem .06rem .03rem;
  border-radius: .05rem;
  position: relative;
  float: left;
  margin: 0 0 0 .2rem;
}

.out-side-orderdetail .order-goods-bar .order-goods-num {
  display: inline-block;
  position: absolute;
  right: 0;
  top: .78rem;
}

.out-side-orderdetail .order-goods-bar .order-goods-tui {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 1.26rem;
  padding: .01rem .25rem;
  border-radius: 1.5rem;
  border: .5px solid #808080;
}

.out-side-orderdetail .order-goods-message {
  height: .8rem;
  border-top: 0.5px solid #f4f4f4;
  border-bottom: .5px solid #f4f4f4;
}

.out-side-orderdetail .order-goods-message .title {
  display: inline-block;
  width: 1.8rem;
  height: .38rem;
  line-height: .38rem;
  float: left;
  margin: .2rem 0 0 0;
}

.out-side-orderdetail .order-goods-message input {
  width: 5.29rem;
  height: .38rem;
  line-height: .38rem;
  border: 0;
  float: left;
  margin: .2rem 0 0 0;
}

.out-side-orderdetail input::-webkit-input-placeholder {
  color: #737373
}

.out-side-orderdetail .order-goods-delivery {
  height: .8rem;
}

.out-side-orderdetail .order-goods-delivery .title {
  display: inline-block;
  line-height: .8rem;
  float: left;
}

.out-side-orderdetail .order-goods-delivery .delivery {
  display: inline-block;
  line-height: .8rem;
  float: right;
}

.out-side-orderdetail .order-goods-subtotal {
  overflow: hidden;
  padding: .25rem 0 0;
  line-height: .5rem;
  text-align: right;
}

.out-side-orderdetail .order-goods-p-count {
  overflow: hidden;
  background-color: #fff;
  padding: .2rem;
  margin-top: .2rem;
}

.out-side-orderdetail .order-goods-p-count li {
  line-height: .55rem;
}

.out-side-orderdetail .order-goods-p-count li .price {
  display: inline-block;
  float: right;
}

.out-side-orderdetail .go-pay {
  height: 1rem;
  width: 100vw;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: .5px solid #f4f4f4;
}

.out-side-orderdetail .go-pay span {
  display: inline-block;
  width: 5.06rem;
  line-height: 1rem;
  float: left;
  text-align: right;
}

.out-side-orderdetail .go-pay span b,
.out-side-orderdetail .go-pay span i {
  display: inline-block;
  padding-left: .05rem;
  line-height: 1rem;
  float: right;
}

.out-side-orderdetail .go-pay a {
  display: inline-block;
  width: 2.12rem;
  line-height: 1rem;
  float: right;
  background-color: #e62343;
  text-align: center;
}

.out-side-orderdetail .golden-yh {
  width: 100vw;
  height: .82rem;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: .98rem;
  border-top: .5px solid #f4f4f4;
}

.out-side-orderdetail .golden-yh .title {
  display: inline-block;
  line-height: .82rem;
  padding-left: .2rem;
}

.out-side-orderdetail .golden-yh .title i {
  color: #fe7600;
}

.out-side-orderdetail .golden-yh .gold-auto {
  width: .48rem;
  height: .48rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu.png') no-repeat 0 -1rem/0.7rem 10rem;
  float: right;
  margin: .16rem;
}

.out-side-orderdetail .golden-yh .gold-auto.this-over {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu.png') no-repeat 0 0/0.7rem 10rem;
}

.out-side-orderdetail .order-jilu {
  background-color: #fff;
  overflow: hidden;
  padding: .1rem .2rem;
  margin-top: .2rem;
}

.out-side-orderdetail .order-jilu li {
  display: block;
  overflow: hidden;
}

.out-side-orderdetail .order-jilu li .txt {
  display: inline-block;
  line-height: .52rem;
  font-size: .28rem;
  float: left;
}

.out-side-orderdetail .order-jilu li .copy {
  display: inline-block;
  padding: .05rem .1rem;
  border-radius: 3px;
  border: .5px solid #bfbfbf;
  float: left;
  margin: .02rem 0 0 .3rem;
}

.out-side-orderdetail .footer-btn {
  background-color: #fff;
  overflow: hidden;
  margin-top: .2rem;
  padding: .2rem;
}

.out-side-orderdetail .footer-btn a {
  display: inline-block;
  font-size: .26rem;
  color: #595959;
  line-height: .26rem;
  padding: .15rem .2rem;
  border: .5px solid #bfbfbf;
  border-radius: 3px;
  float: right;
  margin-left: .25rem;
}

.out-side-orderdetail .footer-btn a.red {
  color: #e62343;
  border: .5px solid #e62343;
}

.out-side-orderdetail .order-wuliu {
  background-color: #fff;
  padding: .2rem;
  margin-top: .2rem;
  overflow: hidden;
  position: relative;
}

.out-side-orderdetail .order-wuliu .icon {
  width: .7rem;
  height: .7rem;
  float: left;
}

.out-side-orderdetail .order-wuliu .icon img {
  width: .7rem;
  height: .7rem;
}

.out-side-orderdetail .order-wuliu .name-bar {
  max-width: 1.6rem;
  float: left;
  overflow: hidden;
  margin: 0 0 0 .2rem;
}

.out-side-orderdetail .order-wuliu .name-bar .name {
  display: block;
  width: 100%;
  height: .44rem;
}

.out-side-orderdetail .order-wuliu .name-bar .tel {
  display: block;
  width: 100%;
  height: .3rem;
}

.out-side-orderdetail .order-wuliu .border-line-shu-e6e6e6 {
  float: left;
  height: .5rem;
  margin: .1rem .15rem 0 .15rem;
}

.out-side-orderdetail .order-wuliu .wuliu-state {
  max-width: 4.2rem;
  float: left;
  overflow: hidden;
  margin: 0 0 0 0;
}

.out-side-orderdetail .order-wuliu .wuliu-state .txt {
  display: block;
  width: 100%;
  height: .4rem;
}

.out-side-orderdetail .order-wuliu .wuliu-state .time {
  display: block;
  width: 100%;
}

.out-side-orderdetail .order-wuliu .icon-star {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  position: absolute;
  right: .2rem;
  top: .4rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu.png') no-repeat .3rem -1.93rem/0.7rem 10rem;
  z-index: 1;
}