
.out-side-packagedetail {
  background-color: #f4f4f4;
  width: 100vw;
  min-height: 100vh;
  padding: .88rem 0 1.16rem;
  overflow: hidden;
}

.out-side-packagedetail .package-title {
  background-color: #fff;
  font-weight: 900;
  padding: .15rem .2rem;
  line-height: .5rem;
  text-align: left;
}

.out-side-packagedetail .open-time {
  background-color: #fff;
  overflow: hidden;
  padding: 0 .2rem .12rem;
}

.out-side-packagedetail .open-time .label-bar {
  width: 5.35rem;
  height: .36rem;
  float: left;
}

.out-side-packagedetail .open-time .label-bar span {
  display: inline-block;
  float: left;
}

.out-side-packagedetail .open-time .label-bar span:first-child {
  display: none;
}

.out-side-packagedetail .open-time .label-bar .border-line-shu-e6e6e6 {
  margin: 0 .15rem;
}

.out-side-packagedetail .open-time .sale {
  display: inline-block;
  line-height: .4rem;
  float: right;
}

.out-side-packagedetail .banner {
  height: 3.91rem;
  background-color: #fff;
}

.out-side-packagedetail .banner img {
  width: 100vw;
  height: 3.75rem;
}

.out-side-packagedetail .shop-mess {
  overflow: hidden;
  padding: .2rem;
  background-color: #fff;
  margin-top: .16rem;
}

.out-side-packagedetail .shop-mess .title {
  height: .5rem;
  line-height: .5rem;
  padding-left: .65rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 0 -7.18rem / .6rem 12rem;
  margin-bottom: .2rem;
}

.out-side-packagedetail .shop-mess .main {
  width: 6.45rem;
  overflow: hidden;
  float: right;
}

.out-side-packagedetail .shop-mess .main .txt {
  width: 5.7rem;
  overflow: hidden;
  float: left;
}

.out-side-packagedetail .shop-mess .main .txt .name {
  display: block;
  line-height: .4rem;
  padding: .15rem 0 .1rem;
}

.out-side-packagedetail .shop-mess .main .txt .addr {
  display: block;
  line-height: .32rem;
  padding-left: .35rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 0 -1.78rem / .6rem 12rem;
}

.out-side-packagedetail .shop-mess .main .tel {
  width: .7rem;
  height: .5rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat .12rem -3.58rem / .6rem 12rem;
  float: right;
  margin-top: .25rem;
}

.out-side-packagedetail .package-info {
  overflow: hidden;
  padding: .2rem;
  background-color: #fff;
  margin-top: .16rem;
}

.out-side-packagedetail .package-info .title {
  height: .5rem;
  line-height: .5rem;
  padding-left: .65rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 0 -7.78rem / .6rem 12rem;
  margin-bottom: .2rem;
}

.out-side-packagedetail .package-info .detail-main {
  width: 6.45rem;
  overflow: hidden;
  float: right;
  margin: .2rem 0 .1rem 0;
  font-size: .24rem;
  color: #666;
  line-height: .36rem;
  text-align: left;
}

.out-side-packagedetail .foot-bar {
  width: 100vw;
  height: 1rem;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
}

.out-side-packagedetail .foot-bar .go-pay {
  display: inline-block;
  padding: .19rem .5rem;
  background-color: #e62343;
  border-radius: .8rem;
  float: right;
  margin: .1rem .2rem 0 0;
}

.out-side-packagedetail .foot-bar .price {
  overflow: hidden;
  padding: .14rem 0 .08rem .15rem;
  line-height: .4rem;
  display: flex;
  justify-content:left;
  text-align: left;
}

.out-side-packagedetail .foot-bar .price .rmb {
  display: inline-block;
}

.out-side-packagedetail .foot-bar .price .num {
  display: inline-block;
}

.out-side-packagedetail .foot-bar .price .return {
  display: inline-block;
  line-height: .36rem;
  padding: 0 .12rem;
  border: .5px solid #fc6c15;
  border-radius: 2px;
  position: relative;
  margin: 0 0 0 .2rem;
}

.out-side-packagedetail .foot-bar .gold {
  display: block;
  padding-left: .2rem;
  margin-top: -.03rem;
}

