.out-side-mine {
  background-color: #f4f4f4;
  overflow: hidden;
  min-height: 100vh;
  padding-bottom: 1.13rem;
}

.out-side-mine .mine-head-bar {
  width: 100vw;
  height: 3.18rem;
  position: relative;
  background: url('https://api.duishangbao.cn/upload/image/mine-top-bj1.jpg') no-repeat top / 100vw 2.2rem;
}

.out-side-mine .mine-head-bar .mine-header-img {
  width: 1.12rem;
  height: 1.12rem;
  background: url('https://api.duishangbao.cn/upload/image/mine-header01.png') no-repeat top / 1.12rem 1.12rem;
  float: left;
  margin: .23rem .16rem 0 .22rem;
}

.out-side-mine .mine-head-bar .mine-header-img img {
  width: 1.06rem;
  height: 1.06rem;
  margin: .03rem;
  border-radius: 50%;
}

.out-side-mine .mine-head-bar .mine-header-name {
  display: inline-block;
  line-height: 1.12rem;
  float: left;
  margin-top: .23rem;
}

.out-side-mine .mine-head-bar .mine-header-name a,
.out-side-mine .mine-head-bar .mine-header-name span {
  font-size: .32rem;
  color: #fff;
}

.out-side-mine .mine-head-bar .mine-head-k {
  width: 6.46rem;
  height: 1.47rem;
  background: url('https://api.duishangbao.cn/upload/image/mine-top-bj2.png') no-repeat 0 0 / 6.46rem 1.47rem;
  position: absolute;
  left: .5rem;
  top: 1.5rem;
}

.out-side-mine .head-k-mess {
  text-align: center;
  padding-top: .6rem;
}

.out-side-mine .head-k-mess .gold {
  display: inline-block;
  line-height: .36rem;
  padding-left: .7rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .13rem -2.78rem / .7rem 11.9rem;
}

.out-side-mine .head-k-mess2 {
  height: .72rem;
  line-height: .72rem;
  text-align: center;
  padding-top: .35rem;
}

.out-side-mine .head-k-mess2 .gold {
  display: inline-block;
  padding-left: .6rem;
  background: url('https://api.duishangbao.cn/upload/image/mine-header-gold-bj1.png') no-repeat 0 0 / .6rem .72rem;
  font-size: .58rem;
  color: #fe7900;
  float: left;
  margin-left: 2.1rem;
}

.out-side-mine .head-k-mess2 .gray {
  display: inline-block;
  padding-left: .2rem;
  background: url('https://api.duishangbao.cn/upload/image/mine-header-gold-bj2.png') no-repeat 0 0 / .2rem .72rem;
  font-size: .28rem;
  color: #999;
  float: left;
  margin-left: .1rem;
}

.out-side-mine .mine-order-up {
  height: 2.38rem;
  background-color: #fff;
}

.out-side-mine .line-order-list {
  padding-top: .25rem;
}

.out-side-mine .line-order-list a {
  display: inline-block;
  width: 25vw;
  height: 1em;
  float: left;
  text-align: center;
}

.out-side-mine .line-order-list a .img {
  display: inline-block;
  width: .7rem;
  height: .55rem;
  position: relative;
}

.out-side-mine .line-order-list a .img .num {
  display: inline-block;
  position: absolute;
  font-size: .18rem;
  color: #fff;
  background-color: #e62343;
  width: .38rem;
  line-height: .1rem;
  padding: .14rem 0;
  right: -.1rem;
  top: -.1rem;
  border-radius: 50%;
  overflow: hidden;
  opacity: .9;
}

.out-side-mine .line-order-list a .icon01 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .05rem 0 / .7rem 11.9rem;
}

.out-side-mine .line-order-list a .icon02 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .1rem -.7rem / .7rem 11.9rem;
}

.out-side-mine .line-order-list a .icon03 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .08rem -1.37rem / .7rem 11.9rem;
}

.out-side-mine .line-order-list a .icon04 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .12rem -2.08rem / .7rem 11.9rem;
}

.out-side-mine .line-order-list a .txt {
  display: block;
  text-align: center;
  font-size: .24rem;
  color: #404040;
}

.out-side-mine .mine-order-down {
  overflow: hidden;
  background-color: #fff;
  margin: .2rem 0;
}

.out-side-mine .order-top-line {
  height: .9rem;
}

.out-side-mine .order-top-line .title {
  display: inline-block;
  line-height: .36rem;
  padding-left: .45rem;
  font-size: .32rem;
  color: #000;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat 0 -3.49rem / .7rem 11.9rem;
  margin: .26rem 0 0 .2rem;
  float: left;
}

.out-side-mine .order-top-line .go-look {
  display: inline-block;
  line-height: .3rem;
  padding-right: 3.5em;
  font-size: .24rem;
  color: #e62343;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat right -10.48rem / .7rem 11.9rem;
  margin: .29rem -.3rem 0 0;
  float: right;
}

.out-side-mine .mine-order-down .order-top-line .title {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat 0 -4.19rem / .7rem 11.9rem;
}

.out-side-mine .mine-nav-list {
  height: 3.72rem;
  background-color: #fff;
}

.out-side-mine .mine-nav-list a {
  display: inline-block;
  width: calc(25vw - 1px);
  height: 1.85rem;
  padding-top: .42rem;
  border-left: .5px solid #dcdcdc;
  float: left;
  text-align: center;
}

.out-side-mine .mine-nav-list a.down {
  border-bottom: .5px solid #dcdcdc;
}

.out-side-mine .mine-nav-list a.first {
  border-left: .5px solid #fff;
}

.out-side-mine .mine-nav-list a .img {
  display: inline-block;
  width: .7rem;
  height: .55rem;
}

.out-side-mine .mine-nav-list a .icon05 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .13rem -4.88rem / .7rem 11.9rem;
}

.out-side-mine .mine-nav-list a .icon06 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .18rem -5.58rem / .7rem 11.9rem;
}

.out-side-mine .mine-nav-list a .icon07 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .18rem -6.28rem / .7rem 11.9rem;
}

.out-side-mine .mine-nav-list a .icon08 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .13rem -6.98rem / .7rem 11.9rem;
}

.out-side-mine .mine-nav-list a .icon09 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .14rem -7.68rem / .7rem 11.9rem;
}

.out-side-mine .mine-nav-list a .icon10 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .13rem -8.38rem / .7rem 11.9rem;
}

.out-side-mine .mine-nav-list a .icon11 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .14rem -9.08rem / .7rem 11.9rem;
}

.out-side-mine .mine-nav-list a .icon12 {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat .12rem -9.78rem / .7rem 11.9rem;
}

.out-side-mine .mine-nav-list a .txt {
  clear: both;
  display: block;
  text-align: center;
  font-size: .24rem;
  color: #404040;
}

.out-side-mine .mine-btn-login a {
  display: block;
  height: .92rem;
  line-height: .92rem;
  background-color: #fff;
  text-align: center;
  font-size: .28rem;
  color: #e62343;
  margin-top: .2rem;
}

.out-side-mine .for-login {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 1rem);
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 99;
}
