.out-side-bindtel .bindtel-note-txt {
  padding-top: 4.3rem;
  font-size: .32rem;
  color: #262626;
  text-align: center;
  background: url('https://api.duishangbao.cn/upload/image/icon_bindtel.png') no-repeat center 1.8rem / 4.46rem 1.47rem;
}

.out-side-bindtel .bindtel-main {
  width: 6.9rem;
  overflow: hidden;
  margin: .5rem auto;
}

.out-side-bindtel .bindtel-main li {
  display: block;
  height: 1.02rem;
  border-top: .5px solid #dcdcdc;
}

.out-side-bindtel .bindtel-main li:first-child {
  border: 0;
}

.out-side-bindtel .bindtel-main li .name {
  display: inline-block;
  width: .88rem;
  height:.32rem;
  line-height: .32rem;
  float: left;
  text-align: left;
  font-size: .28rem;
  color: #262626;
  margin-top: .35rem;
  border-right: .5px solid #fff;
}

.out-side-bindtel .bindtel-main li .name.black {
  border-right: .5px solid #dcdcdc;
}

.out-side-bindtel .bindtel-main li .text-box {
  display: inline-block;
  width: 3.9rem;
  height: .32rem;
  line-height: .32rem;
  border: 0;
  float: left;
  margin: .35rem .2rem 0 .3rem;
}

.out-side-bindtel .bindtel-main li .text-box::-webkit-input-placeholder {
  color: #b3b3b3
}

.out-side-bindtel .bindtel-main li .time {
  display: inline-block;
  width: 1.4rem;
  height:.32rem;
  line-height: .32rem;
  font-size: .26rem;
  color: #e62343;
  text-align: right;
  margin-top: .35rem;
  float: left;
}

.out-side-bindtel .bindtel-main li.bind-tel-btn {
  height: auto;
  padding-top: .45rem;
}

.out-side-bindtel .bindtel-main li.bind-tel-btn a {
  display: block;
  height: .88rem;
  line-height: .88rem;
  width: 100%;
  text-align: center;
  background-color: #e62343;
  color: #f6f3f7;
  font-size: .34rem;
  border-radius: .1rem;
}