
.out-side-packageorderconfirm {
  background-color: #f4f4f4;
  width: 100vw;
  min-height: 100vh;
  padding: .88rem 0 1.16rem;
  overflow: hidden;
}

.out-side-packageorderconfirm .package-info {
  overflow: hidden;
  background-color: #fff;
  padding: .2rem 0 .3rem .2rem;
}

.out-side-packageorderconfirm .package-info .img {
  width: 1.98rem;
  height: 1.98rem;
  float: left;
  margin: .08rem .2rem 0 0;
}

.out-side-packageorderconfirm .package-info .img img {
  width: 1.98rem;
  height: 1.98rem;
  border-radius: .1rem;
}

.out-side-packageorderconfirm .package-info .main {
  width: 5.12rem;
  overflow: hidden;
  float: left;
  margin-top: .05rem;
  position: relative;
}

.out-side-packageorderconfirm .package-info .main .name {
  height: .88rem;
  line-height: .44rem;
}

.out-side-packageorderconfirm .package-info .main .price {
  overflow: hidden;
  margin-top: .18rem;
}

.out-side-packageorderconfirm .package-info .main .price .fs-38 {
  display: inline-block;
  float: left;
}

.out-side-packageorderconfirm .package-info .main .price .return {
  display: inline-block;
  height: .33rem;
  line-height: .33rem;
  background: url('https://api.duishangbao.cn/upload/image/qipao_jiao_12.png') no-repeat right / 6rem .33rem;
  padding-right: .1rem;
  margin: .05rem 0 0 .1rem;
}

.out-side-packageorderconfirm .package-info .main .price .return .txt {
  display: inline-block;
  height: .33rem;
  line-height: .33rem;
  background: url('https://api.duishangbao.cn/upload/image/qipao_jiao_11.png') no-repeat left / .21rem .33rem;
  padding-left: .18rem;
}

.out-side-packageorderconfirm .label-ul {
  display: block;
  overflow: hidden;
}

.out-side-packageorderconfirm .label-ul li {
  display: inline-block;
  line-height: .38rem;
  padding: 0 .12rem .05rem .44rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 0 -4.79rem / .6rem 12rem;
  float: left;
}

.out-side-packageorderconfirm .package-count-bar {
  overflow: hidden;
  padding: .2rem;
  background-color: #fff;
  margin-top: .16rem;
}

.out-side-packageorderconfirm .package-count-bar .num {
  display: block;
  overflow: hidden;
  padding: .3rem 0 .5rem;
}

.out-side-packageorderconfirm .package-count-bar .num .jia {
  display: inline-block;
  width: .46rem;
  height: .46rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 0 -6.58rem / .6rem 12rem;
  float: right;
}

.out-side-packageorderconfirm .package-count-bar .num .count {
  display: inline-block;
  line-height: .46rem;
  padding: 0 .15rem;
  float: right;
}

.out-side-packageorderconfirm .package-count-bar .num .jian {
  display: inline-block;
  width: .46rem;
  height: .46rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 0 -5.98rem / .6rem 12rem;
  float: right;
}

.out-side-packageorderconfirm .use-gold {
  overflow: hidden;
  padding: .05rem 0 .15rem;
}

.out-side-packageorderconfirm .use-gold .l {
  width: 5.2rem;
  overflow: hidden;
  float: left;
}

.out-side-packageorderconfirm .use-gold .l .title {
  display: inline-block;
  padding-right: .44rem;
  line-height: .46rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 1.36rem -5.34rem / .6rem 12rem;
}

.out-side-packageorderconfirm .use-gold .l .di-mess {
  display: block;
  padding: .08rem 0 .15rem;
}

.out-side-packageorderconfirm .use-gold .btn-power {
  display: inline-block;
  width: .9rem;
  height: .5rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu5.png') no-repeat 0 -4.95rem / 1.1rem 11rem;
  float: right;
  margin: .23rem 0 0 0;
}

.out-side-packageorderconfirm .use-gold .btn-power.this-over {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu5.png') no-repeat 0 -4.4rem / 1.1rem 11rem;
}

.out-side-packageorderconfirm .package-count-bar .result {
  line-height: .46rem;
  overflow: hidden;
  padding: .25rem 0 .15rem;
}

.out-side-packageorderconfirm .pay-btn {
  width: 100vw;
  height: .98rem;
  line-height: .98rem;
  text-align: center;
  background-color: #e62343;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
}