
.out-side-telmana {
  background-color: #eee;
  padding-top: 8px;
}

.out-side-telmana .accountCon {
  background: #fff;
}

.out-side-telmana .m_account {
  display: block;
  height: 50px;
  line-height: 50px;
  width: 100%;
  border-bottom: .5px solid #ccc;
}

.out-side-telmana .m_account:last-child {
  border: none;
}

.out-side-telmana .m_account img {
  width: 9px;
  height: 14px;
  margin-right: 22px;
}

.out-side-telmana .m_account span {
  color: #333;
  font-size: 14px;
  padding-left: 16px;
  display: inline-block;
  line-height: 50px
}

.out-side-telmana .m_account .fr img {
  margin-top: 17px
}