
.out-side-aftersaledetail {
  background-color: #f4f4f4;
  padding: .88rem 0 .2rem;
}

.out-side-aftersaledetail .after-sale-state {
  overflow: hidden;
  background-color: #fff;
  padding: .83rem 0 .75rem;
}

.out-side-aftersaledetail .after-sale-state .circle {
  overflow: hidden;
  padding: 0 0 .15rem .9rem;
}

.out-side-aftersaledetail .after-sale-state .icon {
  display: inline-block;
  width: .32rem;
  height: .32rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu4.png') no-repeat 0 -7rem/.5rem 10rem;
  float: left;
  margin-right: .35rem;
}

.out-side-aftersaledetail .after-sale-state .icon.this-over {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu4.png') no-repeat 0 -7.5rem/.5rem 10rem;
}

.out-side-aftersaledetail .after-sale-state .border-line-heng-e6e6e6 {
  width: 1.7rem;
  float: left;
  margin: .15rem .35rem 0 0;
}

.out-side-aftersaledetail .after-sale-state .border-line-heng-e6e6e6.this-over {
  background: url('https://api.duishangbao.cn/upload/image/border-line-heng-e62343.png') repeat-x 0 0/ 100px 1px;
}

.out-side-aftersaledetail .after-sale-state .txt-bar {
  overflow: hidden;
  padding-top: .05rem;
}

.out-side-aftersaledetail .after-sale-state .txt-bar .txt-detail {
  display: inline-block;
  width: 1.6rem;
  line-height: .36rem;
  text-align: center;
  float: left;
  margin-left: 1.14rem;
}

.out-side-aftersaledetail .after-sale-state .txt-bar .txt-detail:first-child {
  margin-left: .22rem;
}

.out-side-aftersaledetail .after-sale-note {
  overflow: hidden;
  background-color: #fff;
  padding: .2rem;
  margin-top: .16rem;
}

.out-side-aftersaledetail .after-sale-note .title {
  padding-bottom: .05rem;
}

.out-side-aftersaledetail .after-sale-note .note-detail li {
  display: block;
  line-height: .38rem;
}

.out-side-aftersaledetail .after-sale-goods {
  overflow: hidden;
  background-color: #fff;
  padding: .2rem;
  margin-top: .16rem;
}

.out-side-aftersaledetail .after-sale-goods .title {
  line-height: .8rem;
}

.out-side-aftersaledetail .after-sale-goods .goods-bar {
  overflow: hidden;
  padding: .3rem 0 .2rem;
}

.out-side-aftersaledetail .goods-bar .img {
  width: 1.64rem;
  height: 1.64rem;
  float: left;
  margin-top: .05rem;
}

.out-side-aftersaledetail .goods-bar .img,
.out-side-aftersaledetail .goods-bar .img img {
  width: 1.64rem;
  height: 1.64rem;
  border-radius: .1rem;

}

.out-side-aftersaledetail .after-sale-goods .main {
  width: 5.31rem;
  float: left;
  position: relative;
  margin-left: .15rem;
}

.out-side-aftersaledetail .after-sale-goods .main .name {
  display: block;
  width: 4rem;
  line-height: .4rem;
}

.out-side-aftersaledetail .after-sale-goods .main .price {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  line-height: .4rem;
}

.out-side-aftersaledetail .after-sale-goods .main .sku {
  padding-top: .1rem;
  line-height: .32rem;
}

.out-side-aftersaledetail .after-sale-goods .main .sku .r {
  display: inline-block;
  float: right;
}

.out-side-aftersaledetail .after-sale-mess {
  overflow: hidden;
  background-color: #fff;
  padding: .2rem;
  margin-top: .16rem;
}

.out-side-aftersaledetail .after-sale-mess .has-txt {
  overflow: hidden;
  padding: .2rem 0;
}

.out-side-aftersaledetail .after-sale-mess .has-txt .title {
  display: inline-block;
  line-height: .4rem;
  float: left;
  width: 1.5rem;
}

.out-side-aftersaledetail .after-sale-mess .has-txt .info {
  display: inline-block;
  line-height: .4rem;
  max-width: 5.3rem;
}

.out-side-aftersaledetail .after-sale-fail {
  overflow: hidden;
  background-color: #fff;
  padding: .35rem .2rem;
}

.out-side-aftersaledetail .after-sale-fail .icon {
  display: inline-block;
  width: .5rem;
  height: .5rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu4.png') no-repeat 0 -8rem/.5rem 10rem;
  float: left;
  margin: .03rem .15rem 0 0;
}

.out-side-aftersaledetail .after-sale-fail .mess {
  display: block;
  width: 6rem;
  overflow: hidden;
  float: left;
}

.out-side-aftersaledetail .after-edit-btn {
  width: 6.9rem;
  margin: .2rem auto 0;
  background-color: #e62343;
  color: #fff;
  padding: .25rem 0;
  text-align: center;
  border-radius: .1rem;
}