
.out-side-uptel {
  background-color: #eee;
  padding-top: 8px;
}

.out-side-uptel .tel_con {
  height: 40px;
  width: 100%;
  background: #fff;
  line-height: 40px;
}

.out-side-uptel .tel_con span {
  width: 49%;
}

.out-side-uptel .tel_con span:first-child {
  border-right: .5px solid #ccc;
}

.out-side-uptel .tel_con span:first-child {
  color: #333;
}

.out-side-uptel .tel_con span:last-child {
  color: #ccc;
}

.out-side-uptel .tel_con div {
  width: 20%;
}

.out-side-uptel .tel_con span, .tel_con div {
  display: inline-block;
  text-align: center;
}

.out-side-uptel .tel_con div img {
  width: 25px;
  height: 38px;
  vertical-align: middle;
}

.out-side-uptel .check {
  height: 150px;
  width: 100%;
  background: #fff;
  margin-top: 12px;
}

.out-side-uptel .checkNumCon {
  display: flex;
  justify-content: space-around;
  height: 85px;
  border-bottom: .5px solid #474545;
  margin: 0 12px;
  align-items: center;
}

.out-side-uptel .checkNumCon div {
  width: 50%;
}

.out-side-uptel .checkNumCon div:first-child {
  text-align: left;
  padding-left: 10px;
}

.out-side-uptel .checkNumCon div:last-child {
  text-align: right;
  padding-right: 10px;
}

.out-side-uptel .telNum {
  display: inline-block;
  vertical-align: middle;
  color: #333;
}

.out-side-uptel .countDown {
  display: inline-block;
  height: 34px;
  border: .5px solid #474545;
  color: #333;
  background: #fff;
  vertical-align: middle;
}

.out-side-uptel .countDown::after {
  border: 0;
}

.out-side-uptel .checkNumber {
  display: inline-block;
  height: 40px;
  width: 200px;
  color: #999;
  padding-left: 5px;
  margin: 12px 0 0 20px;
}

.out-side-uptel .next {
  height: 35px;
  line-height: 35px;
  width: 70%;
  background: #f85c45;
  color: white;
  margin-top: 50px;
}

.out-side-uptel button[disabled] {
  border: none;
}
