
.out-side-businesslist {
  height: 100vh;
  background-color: #fff;
  padding-top: 1.76rem;
}

.out-side-businesslist .classify-main {
  width: 100vw;
  height: .88rem;
  position: fixed;
  left: 0;
  top: .88rem;
  z-index: 1;
  overflow: hidden;
  box-shadow: 3px 3px 3px #ccc;
  background-color: #fff;
}

.out-side-businesslist .auto-k {
  width: 100vw;
  height: 1rem;
  overflow-y: auto;
}

.out-side-businesslist .auto-k ul {
  display: block;
  white-space: nowrap;
}

.out-side-businesslist .auto-k ul li {
  display: inline-block;
  height: 1rem;
  padding: 0 .32rem;
}

.out-side-businesslist .auto-k ul li span {
  display: inline-block;
  height: .88rem;
  line-height: .88rem;
  border-bottom: .04rem solid #fff;
}

.out-side-businesslist .auto-k ul li.this-over span {
  font-size: .36rem;
  color: #1a1a1a;
  border-bottom: .04rem solid #e62343;
}

.out-side-businesslist .classify-side {
  width: 1.66rem;
  height: calc(100vh - 1.76rem);
  float: left;
  background-color: #f2f2f2;
}

.out-side-businesslist .classify-side ul {
  width: 1.66rem;
  height: calc(100vh - 1.76rem);
  overflow-y: auto;
}

.out-side-businesslist .classify-side ul li {
  display: block;
}

.out-side-businesslist .classify-side ul li .fs-28 {
  display: block;
  width: 1.66rem;
  border-left: .08rem solid #f2f2f2;
  line-height: .88rem;
  text-align: center;
}

.out-side-businesslist .classify-side ul li.this-over .fs-28 {
  background-color: #fff;
  border-left: .08rem solid #e62343;
}

.out-side-businesslist .classify-side ul li .border-line-heng-cccccc {
  width: 1.5rem;
  margin: 0 auto;
}

.out-side-businesslist .classify-side ul li.this-over .border-line-heng-cccccc {
  visibility: hidden;
}

.out-side-businesslist .business-list {
  width: 5.84rem;
  height: calc(100vh - 1.76rem);
  float: left;
}

.out-side-businesslist .business-list ul {
  display: block;
  width: 5.84rem;
  height: calc(100vh - 1.76rem);
  overflow-y: auto;
}

.out-side-businesslist .business-list ul li {
  overflow: hidden;
  padding: .35rem .2rem 0 .15rem;
}

.out-side-businesslist .business-list .img {
  width: 1.4rem;
  height: 1.4rem;
  float: left;
  margin: .05rem .15rem 0 0;
}

.out-side-businesslist .business-list .img img {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: .1rem;
}

.out-side-businesslist .business-list .main {
  width: 3.93rem;
  height: 1.48rem;
  float: left;
  position: relative;
  overflow: hidden;
}

.out-side-businesslist .business-list .main .name {
  display: inline-block;
  width: 2.88rem;
  line-height: .4rem;
}

.out-side-businesslist .business-list .border-line-heng-e6e6e6 {
  float: left;
  margin-top: .4rem;
}

.out-side-businesslist .business-list .main .tuan {
  display: block;
  padding-left: .38rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 0 -.6rem / .6rem 12rem;
}

.out-side-businesslist .business-list .main .addr {
  display: inline-block;
  width: 2rem;
  height: .32rem;
  line-height: .32rem;
  position: absolute;
  padding-left: .3rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 0 -1.79rem / .6rem 12rem;
  left: 0;
  top: 1.15rem;
}

.out-side-businesslist .business-list .main .price {
  display: inline-block;
  width: 2rem;
  height: .32rem;
  line-height: .32rem;
  position: absolute;
  padding-left: .3rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 0 -2.4rem / .6rem 12rem;
  left: 2rem;
  top: 1.15rem;
}

.out-side-businesslist .business-list .main .away {
  position: absolute;
  top: .08rem;
  line-height: .3rem;
  right: 0;
}
