.out-side-address .addressList {
  overflow: hidden;
  padding: 1rem 0 1.2rem;
}

.out-side-address .addressList li {
  display: block;
  overflow: hidden;
  border-bottom: .5px solid #d9d9d9;
  position: relative;
}

.out-side-address .addressList li .addressMan {
  padding: .25rem 1rem 0 .3rem;
  overflow: hidden;
}

.out-side-address .addressList li .addressMan .name {
  display: inline-block;
  line-height: .44rem;
  font-size: .28rem;
  color: #262626;
}

.out-side-address .addressList li .addressMan .tel {
  display: inline-block;
  line-height: .44rem;
  font-size: .28rem;
  color: #666;
}

.out-side-address .addressList li .addressMan .default {
  display: inline-block;
  line-height: .44rem;
  font-size: .28rem;
  color: #e62343;
  border: .5px solid #e62343;
  padding: 0 .1rem;
  border-radius: .05rem;
}

.out-side-address .addressList li .addressMain {
  padding: .05rem 1rem .12rem .25rem;
  line-height: .44rem;
  font-size: .28rem;
  color: #262626;
}

.out-side-address .addressList li .address-edit {
  display: inline-block;
  width: .4rem;
  height: .4rem;
  position: absolute;
  top: .46rem;
  right: .35rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu.png') no-repeat 0 -2.5rem / .7rem 10rem;
}

.out-side-address .add-reciver {
  width: 100vw;
  height: 1.13rem;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
}

.out-side-address .add-reciver a {
  display: block;
  width: 7.1rem;
  height: .88rem;
  line-height: .88rem;
  text-align: center;
  background-color: #e62343;
  color: #fff;
  font-size: .32rem;
  margin: .05rem auto;
  border-radius: .1rem;
}