.out-side-orderlist {
  background-color: #f4f4f4;
  min-height: calc(100vh - .88rem);
}

.out-side-orderlist .order-nav {
  background-color: #fff;
  height: .9rem;
  margin-top: .88rem;
}

.out-side-orderlist .order-nav a {
  display: inline-block;
  width: 1.25rem;
  height: .9rem;
  float: left;
  text-align: center;
}

.out-side-orderlist .order-nav a span {
  display: inline-block;
  height: .9rem;
  line-height: .95rem;
  margin: 0 auto;
  padding: 0 .05rem;
  border-bottom: .06rem solid #fff;
  font-size: .24rem;
  color: #1a1a1a;
  overflow: hidden;
}

.out-side-orderlist .order-nav a.this-over span {
  border-bottom: .06rem solid #e62343;
  font-size: .32rem;
  color: #e62343;
  font-weight: bold;
}

.out-side-orderlist .order-list {
  overflow: hidden;
  padding-bottom: .5rem;
}

.out-side-orderlist .order-group {
  overflow: hidden;
  background-color: #fff;
  padding: 0 .2rem;
  margin-top: .16rem;
}

.out-side-orderlist .order-group header {
  display: block;
  height: .8rem;
  border-bottom: .5px solid #e5e5e5;
  position: relative;
}

.out-side-orderlist .order-group header .pub-name {
  display: inline-block;
  line-height: .8rem;
  float: left;
}

.out-side-orderlist .order-group header .order-state {
  display: inline-block;
  line-height: .8rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.out-side-orderlist .order-group header .order-state.order-ok {
  width: 1.28rem;
  height: 1.08rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_order_ok.png') no-repeat 0 0/1.28rem 1.08rem;
}

.out-side-orderlist .order-group article {
  height: 2.66rem;
  position: relative;
}

.out-side-orderlist .order-group article .order-img {
  display: inline-block;
  width: 1.64rem;
  height: 1.64rem;
  float: left;
  margin: .35rem .15rem 0 0;
}

.out-side-orderlist .order-group article .order-img img {
  width: 1.64rem;
  height: 1.64rem;
  border-radius: .1rem;
}

.out-side-orderlist .order-group article .order-mess1 {
  width: 3.9rem;
  overflow: hidden;
  float: left;
  margin-top: .3rem;
}

.out-side-orderlist .order-group article .order-mess1 h3 {
  line-height: .42rem;
}

.out-side-orderlist .order-group article .order-mess1 p {
  padding-top: .06rem;
}

.out-side-orderlist .order-group article .order-mess2 {
  width: 1.3rem;
  height: .8rem;
  line-height: .42rem;
  position: absolute;
  top: .3rem;
  right: 0;
  text-align: right;
}

.out-side-orderlist .order-group article .order-mess3 {
  display: block;
  clear: both;
  line-height: .4rem;
  text-align: right;
  padding-bottom: .3rem;
}

.out-side-orderlist .order-group article .order-mess4 {
  display: inline-block;
  position: absolute;
  top: 1.55rem;
  right: 0;
}

.out-side-orderlist .order-group footer {
  overflow: hidden;
  border-top: .5px solid #e5e5e5;
}

.out-side-orderlist .order-group footer a {
  display: inline-block;
  font-size: .24rem;
  color: #666;
  border: .5px solid #666;
  border-radius: .06rem;
  float: right;
  margin: .2rem 0 .2rem .3rem;
  padding: .14rem .22rem;
}

.out-side-orderlist .order-group footer a.btn-red {
  color: #e62343;
  border: .5px solid #e62343;
}
