.out-side-aftersaleapply {
  background-color: #f4f4f4;
  min-height: 100vh;
  padding: .88rem 0 1.2rem;
  overflow: hidden;
}

.out-side-aftersaleapply .goods-bar {
  background-color: #fff;
  overflow: hidden;
  padding: .35rem .2rem .4rem;
}

.out-side-aftersaleapply .goods-bar .goods-img {
  width: 1.64rem;
  height: 1.64rem;
  float: left;
  margin: .05rem .18rem 0 0;
}

.out-side-aftersaleapply .goods-bar .goods-img img {
  width: 1.64rem;
  height: 1.64rem;
  border-radius: .1rem;
}

.out-side-aftersaleapply .goods-bar .goods-main {
  width: 5.28rem;
  overflow: hidden;
  float: left;
}

.out-side-aftersaleapply .goods-bar .name {
  width: 100%;
  max-height: .8rem;
  line-height: .4rem;
}

.out-side-aftersaleapply .goods-bar .sku {
  width: 100%;
  line-height: .4rem;
}

.out-side-aftersaleapply .goods-bar .price-bar {
  line-height: .28rem;
  padding-top: .15rem;
}

.out-side-aftersaleapply .goods-bar .price-bar .txt {
}

.out-side-aftersaleapply .goods-bar .price-bar .price {
  display: inline-block;
  float: right;
}

.out-side-aftersaleapply .after-ul {
  display: block;
  background-color: #fff;
  overflow: hidden;
  margin-top: .2rem;
  padding: 0 .2rem;
}

.out-side-aftersaleapply .after-li {
  display: block;
  min-height: .9rem;
  position: relative;
  border-top: .5px solid #eee;
}

.out-side-aftersaleapply .after-li:first-child {
  border-top: none;
}

.out-side-aftersaleapply .after-li .txt {
  display: inline-block;
  line-height: .9rem;
}

.out-side-aftersaleapply .after-li .icon {
  display: inline-block;
  width: .25rem;
  height: .25rem;
  position: absolute;
  right: 0;
  top: .32rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu2.png') no-repeat 0 -10.5rem / .7rem 11.9rem;
  z-index: 1;
}

.out-side-aftersaleapply .after-li .text-area {
  display: block;
  width: 100%;
  height: 1.35rem;
  margin: .15rem 0;
}

.out-side-aftersaleapply .after-li .text-area::-webkit-input-placeholder {
  color: #bfbfbf;
}

.out-side-aftersaleapply .up-load-bar {
  width: 7.9rem;
  background-color: #fff;
  overflow: hidden;
  padding: .4rem 0 .4rem .2rem;
}

.out-side-aftersaleapply .up-load-bar .up-load-title {
  line-height: .4rem;
}

.out-side-aftersaleapply .up-load-bar .img-group .img-group-k {
  width: 1.96rem;
  height: 1.96rem;
  float: left;
  margin: .2rem .57rem 0 0;
}

.out-side-aftersaleapply .up-load-bar .img-group img {
  width: 1.96rem;
  height: 1.96rem;
  border-radius: .05rem;
}

.out-side-aftersaleapply .up-load-bar .up-load-btn {
  display: block;
  width: 1.96rem;
  height: 1.96rem;
  border: .03rem solid #b3b3b3;
  float: left;
  border-radius: .05rem;
  margin: .2rem .57rem 0 0;
}

.out-side-aftersaleapply .up-load-bar .up-load-btn .icon {
  display: block;
  width: 100%;
  height: .5rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu4.png') no-repeat center -5.5rem/.5rem 10rem;
  margin: .4rem 0 .2rem;
}

.out-side-aftersaleapply .up-load-bar .up-load-btn .txt-up {
  display: block;
  text-align: center;
  line-height: .26rem;
}

.out-side-aftersaleapply .up-load-bar .up-load-btn .txt-b {
  display: block;
  text-align: center;
}

.out-side-aftersaleapply .form-btn {
  display: block;
  background-color: #e62343;
  width: 100vw;
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
}