.out-side-addreciver {
  background-color: #f4f4f4;
  padding-top: .98rem;
  min-height: 100vh;
}

.out-side-addreciver .address-bar {
  background-color: #fff;
  padding: 0 .2rem;
  overflow: hidden;
}

.out-side-addreciver .address-bar li {
  display: block;
  height: .85rem;
  border-top: .5px solid #ebebeb;
}

.out-side-addreciver .address-bar li:first-child {
  border-top: .5px solid #fff;
}

.out-side-addreciver .address-bar li .name {
  display: inline-block;
  width: 1.4rem;
  height: .85rem;
  line-height: .85rem;
  float: left;
}

.out-side-addreciver .address-bar li .value {
  width: 5.63rem;
  height: .85rem;
  float: left;
}

.out-side-addreciver .address-bar li .value input {
  width: 5.63rem;
  height: .33rem;
  line-height: .33rem;
  text-align: left;
  margin-top: .26rem;
  font-size: .24rem;
  color: #262626;
}

.out-side-addreciver .address-bar li .value input::-webkit-input-placeholder {
  color: #b3b3b3;
}

.out-side-addreciver .address-bar li .value .select-area {
  display: block;
  height: .33rem;
  line-height: .33rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu.png') no-repeat 5.43rem -1.96rem/0.7rem 10rem;
  margin-top: .26rem;
  font-size: .24rem;
  color: #262626;
}

.out-side-addreciver .btn-save {
  display: block;
  width: 7.1rem;
  height: .88rem;
  line-height: .88rem;
  text-align: center;
  background-color: #e62343;
  color: #fff;
  font-size: .32rem;
  border-radius: .1rem;
  position: fixed;
  left: .2rem;
  bottom: .2rem;
}

.out-side-addreciver .picker-slot {
  width: 20vw;
  float: left;
}

.out-side-addreciver .setDefault {
  overflow: hidden;
  padding: .3rem .2rem;
  background-color: #fff;
  margin: .2rem 0;
}

.out-side-addreciver .setDefault span {
  display: inline-block;
  line-height: .48rem;
  font-size: .28rem;
  color: #262626;
  float: left;
}

.out-side-addreciver .setDefault a {
  display: inline-block;
  width: .95rem;
  height: .48rem;
  overflow: hidden;
  float: right;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu3.png') no-repeat 0 -5.6rem / 1rem 7rem;
}
.out-side-addreciver .setDefault a.this-over {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu3.png') no-repeat 0 -6.3rem / 1rem 7rem;
}