.out-side-aboutus {
  background-color: #fff;
  padding-top: .88rem;
}

.out-side-aboutus .bhs-logo {
  text-align: center;
  padding: .8rem 0 0;
}

.out-side-aboutus .bhs-logo img {
  width: 1.5rem;
  height: 1.5rem;
}

.out-side-aboutus .bhs-v {
  height: 1.4rem;
  text-align: center;
  line-height: .9rem;
}

.out-side-aboutus .abouts-ul li span {
  display: inline-block;
  line-height: .9rem;
  float: left;
  margin: 0 .25rem;
}

.out-side-aboutus .abouts-ul li span.info {
  float: right;
}

.out-side-aboutus .abouts-ul li .border-line-heng-e6e6e6 {
  clear: both;
}

.out-side-aboutus .about-up {
  min-height: calc(100vh - 2.08rem)
}

.out-side-aboutus .about-foot {
  overflow: hidden;
  padding: .12rem 0;
}

.out-side-aboutus .about-foot span {
  display: block;
  width: 100%;
  line-height: .48rem;
  text-align: center;
}