.out-side-goodslist {
  background-color: #f4f4f4;
  min-height: 100vh;
}

.out-side-goodslist .search-main-bar {
  width: 6.4rem;
}

.out-side-goodslist .search-main-bar .search-word {
  width: 5rem;
}

.out-side-goodslist .goods-out {
  width: 100vw;
  overflow: hidden;
  padding: 2rem 0 .2rem;
}

.out-side-goodslist .goods-out ul {
  display: block;
  padding-left: .1rem;
  overflow: hidden;
}

.out-side-goodslist .goods-list {
  width: 3.5rem;
  height: 4.85rem;
  float: left;
  margin: 0 0 .1rem .1rem;
  background-color: #fff;
  border-radius: .1rem;
  overflow: hidden;
}

.out-side-goodslist .goods-list .goods-img {
  width: 3.5rem;
  height: 3.65rem;
  text-align: center;
}

.out-side-goodslist .goods-list .goods-img img {
  width: 3.5rem;
  height: 3.5rem;
}

.out-side-goodslist .goods-list .goods-name {
  height: .6rem;
  padding: 0 .1rem;
  font-size: .28rem;
  line-height: .3rem;
}

.out-side-goodslist .goods-list .goods-info {
  padding: .05rem 0 0 .1rem;
}

.out-side-goodslist .goods-list .goods-info span {
  font-size: .36rem;
  color: #e62343;
}

.out-side-goodslist .nav-bar {
  width: 100vw;
  height: .92rem;
  background-color: #fff;
  position: fixed;
  z-index: 1;
  left: 0;
  top: .88rem;
  border-bottom: .5px solid #d6d6d6;
}

.out-side-goodslist .nav-bar a {
  display: inline-block;
  width: 2.5rem;
  height: .5rem;
  line-height: .5rem;
  margin-top: .21rem;
  float: left;
  text-align: center;
}

.out-side-goodslist .nav-bar a.this-over span {
  color: #e62343
}

.out-side-goodslist .nav-bar a .sort {
  display: inline-block;
  height: .5rem;
  line-height: .5rem;
  padding-right: .25rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu.png') no-repeat .56rem -5.85rem / .7rem 10rem;
}

.out-side-goodslist .nav-bar a .sort.up {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu.png') no-repeat .56rem -6.85rem / .7rem 10rem;
}

.out-side-goodslist .nav-bar a .sort.down {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu.png') no-repeat .56rem -6.35rem / .7rem 10rem;
}
