.out-side-login {
  background: #fff url('https://api.duishangbao.cn/upload/image/login-top-bj.jpg') no-repeat 0 .88rem / 7.5rem 5.35rem;
  padding-top: 6.63rem;
  min-height: 100vh;
}

.out-side-login .login-k {
  width: 6.3rem;
  overflow: hidden;
  margin: 0 auto;
}

.out-side-login .login-k li {
  display: block;
  padding-top: .45rem;
}

.out-side-login .login-k li .icon {
  display: inline-block;
  width: .48rem;
  height: .5rem;
  float: left;
}

.out-side-login .login-k li .icon.sj {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 0 -9rem / .6rem 12rem;
}

.out-side-login .login-k li .icon.suo {
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 0 -9.58rem / .6rem 12rem;
}

.out-side-login .login-k li .login-enter {
  width: 5rem;
  height: .4rem;
  line-height: .4rem;
  float: left;
  border: 0;
}

.out-side-login .login-k li .border-line-heng-e6e6e6 {
  clear: both;
}

.out-side-login .btn-login {
  display: block;
  width: 6.3rem;
  text-align: center;
  background-color: #e62343;
  margin: .5rem auto 0;
  padding: .2rem 0;
  border-radius: .8rem;
}

.out-side-login .btn-login-wx {
  display: block;
  width: 6.3rem;
  text-align: center;
  margin: .5rem auto 0;
  padding: .2rem 0 .2rem .4rem;
  border-radius: .8rem;
  background: #e62343 url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 2.2rem -9.96rem / .6rem 12rem;
}

.out-side-login .ts-bar {
  overflow: hidden;
  padding: .25rem .8rem;
}

.out-side-login .ts-bar .l {
  display: inline-block;
  line-height: .36rem;
  padding-right: .44rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 1.65rem -10.78rem / .6rem 12rem;
}

.out-side-login .ts-bar .r {
  display: inline-block;
  line-height: .36rem;
  padding-right: .44rem;
  background: url('https://api.duishangbao.cn/upload/image/icon_zu6.png') no-repeat 1.15rem -11.4rem / .6rem 12rem;
  float: right;
}